.card {
    width: 350px;
    height: 350px;
      border: 6px solid white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      margin: 30px;
        }

/* .card-image {
  width: 100%;
}

.cardDiv {
    display: inline-flex;
} */

